  <div class="center hero-unit" style="background-color:cornflowerblue">
    <h1>Welcome to Airbnb</h1>

    <p>Vacation rentals, private rooms, sublets by the night - Accommodations on Airbnb</p>

    <br/><br/>

    <h2>
      Find a place to stay.
    </h2>

    <%= render 'layouts/searchbar' %>

  </div>
